 <div class="user-details">
  <h1> Meus Conhecimentos </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-wordpress-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Linguagens</h2>
      <i class="devicon-android-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
    </div>
    <div class="tech">
      <h2>Bancos de dados</h2>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-oracle-original colored"></i>
    </div>
    <div class="tech">
      <h2>Ferramentas</h2>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-gitlab-plain-wordmark colored"></i>
      <i class="devicon-gradle-plain-wordmark colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
    </div>
</div>
