<div class="user-details">
  <h1> Projetos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="calculei" src="{{ "/assets/img/ic_launcher_web.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Calculei </h3>
    <ul>
      <li> Android</li>
    </ul>
    <p>Aplicativo nativo para desenvolver o pensamento rápido e fazer cálculos com mais facilidade.</p>
    <a class="project-link" href="https://github.com/joaosf/Calculei">Confira</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="calculei" src="{{ "/assets/img/corona-news-logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Calculei </h3>
    <ul>
      <li> Android</li>
    </ul>
    <p>Pequeno projeto em Android com MVVM para mostrar as últimas notícias (de fontes confiáveis), sobre o Covid-19  .</p>
    <a class="project-link" href="https://github.com/gnovakovski/CoronaNews">Confira</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="calendar" src="{{ "/assets/img/calendar.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Agendamento - CIAG </h3>
    <ul>
      <li> Wordpress </li>
    </ul>
    <p>Software desenvolvido para reserva de salas para compromissos.</p>
  </div>
</div>
<div class="user-projects">
  <div>
    <div class="images-right">
      <img alt="calculei" src="{{ "/assets/img/construction.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
    <h3 class="redTextH3">Sessão em construção</h3>
  </div>
  </div>
</div>
